.mat-column-numOrcamento{
    flex: 0 0 10%;
    font-size: 12px;
}

.mat-column-nomeFuncionario{
    flex: 0 0 20%;
    font-size: 12px;
}

.mat-column-dataCadastro{
    flex: 0 0 12%;
    font-size: 12px;
}

.mat-column-descricaoSimples{
    flex: 0 0 20%;
    font-size: 12px;
}

.mat-column-codFormaFarmaceutica{
    flex: 0 0 10%;
    font-size: 12px;
}

.mat-column-formaFarmaceutica{
    flex: 0 0 10%;
    font-size: 12px;
}

.mat-column-preco{
    flex: 0 0 10%;
    font-size: 12px;
}

.mat-column-url{
    flex: 0 0 20%;
    font-size: 12px;
}

.titulo{
    float: left;
    width: 50%;
    height: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    color: #737373;
}

.span-no-rows{
    display: block;
    text-align: center;
    margin-top: 80px;
    color: #a0a0a0;
    font-weight: 300;
    font-size: 13px;
}